[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jedi = "0.17"
python-language-server = "0.34"

[packages]
flask = "1.1"
json-rpc = "1.13"

[requires]
python_version = "3.8"
